<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.house.mapper.detail.DetailMapper" >
    <resultMap id="BaseResultMap" type="com.house.api.model.Detail" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="introduce" property="introduce" jdbcType="VARCHAR" />
        <result column="picture" property="picture" jdbcType="VARCHAR" />
        <result column="special_url" property="specialUrl" jdbcType="VARCHAR" />
        <result column="photos" property="photos" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="style_type" property="styleType" jdbcType="INTEGER" />
        <result column="special_id" property="specialId" jdbcType="VARCHAR" />
        <result column="single_id" property="singleId" jdbcType="VARCHAR" />
        <result column="created_on" property="createdOn" jdbcType="TIMESTAMP" />
        <result column="updated_on" property="updatedOn" jdbcType="TIMESTAMP" />
        <result column="status" property="status" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, title, introduce, picture, photos, type, special_url, style_type, special_id, single_id, created_on, updated_on, status
    </sql>

    <insert id="add" parameterType="com.house.api.model.Detail" useGeneratedKeys="true" keyProperty="id">
        insert into detail (id, title, introduce, picture, special_url, photos, type, style_type, special_id, single_id, created_on)
        values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{introduce,jdbcType=VARCHAR},
        #{picture,jdbcType=VARCHAR},  #{specialUrl,jdbcType=VARCHAR}, #{photos,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER},
        #{styleType,jdbcType=INTEGER}, #{specialId,jdbcType=VARCHAR}, #{singleId,jdbcType=VARCHAR}, #{createdOn,jdbcType=TIMESTAMP})
    </insert>

    <update id="modify" parameterType="com.house.api.model.Detail" >
        update detail
        <set >
            <if test="title != null" >
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="introduce != null" >
                introduce = #{introduce,jdbcType=VARCHAR},
            </if>
            <if test="picture != null" >
                picture = #{picture,jdbcType=VARCHAR},
            </if>
            <if test="specialUrl != null" >
                special_url = #{specialUrl,jdbcType=VARCHAR},
            </if>
            <if test="photos != null" >
                photos = #{photos,jdbcType=VARCHAR},
            </if>
            <if test="specialId != null" >
                special_id = #{specialId,jdbcType=VARCHAR},
            </if>
            <if test="singleId != null" >
                single_id = #{singleId,jdbcType=VARCHAR},
            </if>
            <if test="type != null" >
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="styleType != null" >
                style_type = #{styleType,jdbcType=INTEGER},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <select id="getList" parameterType="com.house.api.commons.base.PageVo" resultMap="BaseResultMap">
        select id, title, type
        from detail
        where status = 1
        order by created_on desc
        <if test="isPaging != 0">
            limit #{from},#{size}
        </if>
    </select>

    <select id="getCount" resultType="long">
        select count(1) total
        from detail
        where status = 1
    </select>

    <sql id="search_clause">
        <where>
            <if test="entity!=null">
                <if test="entity.status != null">
                    and t1.status = #{entity.status}
                </if>
                <if test="entity.styleType != null">
                    and t1.style_type = #{entity.styleType}
                </if>
                <if test="entity.type != null">
                    and t1.type = #{entity.type}
                </if>
                <if test="entity.status == null">
                    and t1.status = 1
                </if>
            </if>
        </where>
    </sql>

    <!-- 分页条件查询风格详情 -->
    <select id="getStyleList" parameterType="com.house.api.commons.base.PageVo" resultType="map">
        select t1.id id, t1.title title, t1.picture picture
        from detail t1
        <include refid="search_clause"/>
        order by t1.created_on desc
        <if test="isPaging != 0">
            limit #{from},#{size}
        </if>
    </select>

    <!-- 条件查询详情总数 -->
    <select id="getStyleCount" resultType="long">
        select count(1) total from detail t1
        <include refid="search_clause"/>
    </select>

    <!-- 根据主键查询详情 -->
    <select id="getById" parameterType="string" resultMap="BaseResultMap">
        select  <include refid="Base_Column_List" />
        from detail t1
        where t1.id = #{id,jdbcType=VARCHAR} and t1.status = 1
    </select>


</mapper>