<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.house.mapper.detail.DetailMapper" >
    <resultMap id="BaseResultMap" type="com.house.api.model.Detail" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="introduce" property="introduce" jdbcType="VARCHAR" />
        <result column="picture" property="picture" jdbcType="VARCHAR" />
        <result column="photos" property="photos" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="style_type" property="styleType" jdbcType="INTEGER" />
        <result column="created_on" property="createdOn" jdbcType="TIMESTAMP" />
        <result column="updated_on" property="updatedOn" jdbcType="TIMESTAMP" />
        <result column="status" property="status" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, title, introduce, picture, photos, type, style_type, created_on, updated_on, status
    </sql>

    <insert id="add" parameterType="com.house.api.model.Detail" useGeneratedKeys="true" keyProperty="id">
        insert into detail (id, title, introduce, picture, photos, type, style_type, created_on)
        values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{introduce,jdbcType=VARCHAR},
        #{picture,jdbcType=VARCHAR}, #{photos,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER},
        #{styleType,jdbcType=INTEGER}, #{createdOn,jdbcType=TIMESTAMP})
    </insert>


</mapper>